
    

<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
					
						<h1>Order-Summary</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	
   <div class="h-50 mt-5 text-center">
    <div class="text-center mb-5">
        <h2 class="text-success">Payment Failed</h2>
    </div>
    <h3>Dear {{user.username}} ....</h3>

    <h5> Your Payment have been failed due to some errors</h5>
    <a style="text-decoration:underline;color:black;" href="/home">Go back to home</a>
   </div>